In [ ]:
# üìã Projeto 2 - Limpeza de Dados de Vendas no Varejo
# Autor: Matheus Nunes Cardoso
# Dataset: Retail Sales (Dirty)

In [ ]:
# 1. Importa√ß√£o de bibliotecas
import pandas as pd
import numpy as np
from IPython.display import display

In [36]:
# 2. Carregamento do Dataset
df = pd.read_csv('retail_sales_dirty.csv', sep=',')  # << aqui est√° o segredo
# Visualizar primeiras linhas
display(df.head())

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
0,TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True
1,TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True
2,TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False
3,TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.5,9.0,247.5,Credit Card,Online,2022-05-07,NaN
4,TXN_4575373,CUST_05,Food,Item_6_FOOD,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False

In [14]:
# Informa√ß√µes gerais sobre o dataset
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12575 entries, 0 to 12574
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    12575 non-null  object
 1   Customer ID       12575 non-null  object
 2   Category          12575 non-null  object
 3   Item              11362 non-null  object
 4   Price Per Unit    11966 non-null  float64
 5   Quantity          11971 non-null  float64
 6   Total Spent       11971 non-null  float64
 7   Payment Method    12575 non-null  object
 8   Location          12575 non-null  object
 9   Transaction Date  12575 non-null  object
 10  Discount Applied  8376 non-null   object
dtypes: float64(3), object(8)
memory usage: 1.1+ MB

None

In [15]:
# Verificar se existem valores nulos
display(df.isnull().sum())

Transaction ID         0
Customer ID            0
Category               0
Item                1213
Price Per Unit       609
Quantity             604
Total Spent          604
Payment Method         0
Location               0
Transaction Date       0
Discount Applied    4199
dtype: int64

In [24]:
# Estat√≠sticas descritivas
display(df.describe(include='all'))

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
count,12575,12575,12575,11362,11966.000000,11971.000000,11971.000000,12575,12575,12575,8376
unique,12575,25,8,200,NaN,NaN,NaN,3,2,1114,2
top,TXN_6867343,CUST_05,Furniture,Item_2_BEV,NaN,NaN,NaN,Cash,Online,2022-05-30,True
freq,1,544,1591,126,NaN,NaN,NaN,4310,6354,26,4219
mean,NaN,NaN,NaN,NaN,23.365912,5.536380,129.652577,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,10.743519,2.857883,94.750697,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,5.000000,1.000000,5.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,14.000000,3.000000,51.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,23.000000,6.000000,108.500000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,33.500000,8.000000,192.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,41.000000,10.000000,410.000000,NaN,NaN,NaN,NaN

In [25]:
# Remover linhas com valores nulos em 'Item', 'Price Per Unit' e 'Quantity'
df = df.dropna(subset=['Item', 'Price Per Unit', 'Quantity'])

In [26]:
# Conferir se ainda existem valores nulos nessas colunas
display(df[['Item', 'Price Per Unit', 'Quantity']].isnull().sum())

Item              0
Price Per Unit    0
Quantity          0
dtype: int64

In [29]:
# Preencher valores nulos na coluna 'Discount Applied' como False
df['Discount Applied'] = df['Discount Applied'].fillna(False)
# Conferir novamente
display(df['Discount Applied'].isnull().sum())

C:\Users\Matheus\AppData\Local\Temp\ipykernel_20952\586445274.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Discount Applied'] = df['Discount Applied'].fillna(False)

0

In [31]:
# Converter 'Transaction Date' para formato datetime
df.loc[:, 'Transaction Date'] = pd.to_datetime(df['Transaction Date'], errors='coerce')
# Conferir se houve convers√£o
df['Transaction Date'].dtypes

dtype('<M8[ns]')

In [33]:
# Criar uma nova coluna tempor√°ria para recalcular o total
df.loc[:, 'Total Spent Calculado'] = df['Price Per Unit'] * df['Quantity']
# Verificar se h√° diferen√ßa entre Total Spent registrado e o recalculado
(df['Total Spent'] - df['Total Spent Calculado']).abs().max()

0.0

In [34]:
# 5. Exporta√ß√£o do Dataset Limpo
df = df.drop(columns=['Total Spent Calculado'])  # remove coluna tempor√°ria
df.to_csv('retail_sales_cleaned.csv', index=False)
print("‚úÖ Dataset exportado como 'retail_sales_cleaned.csv'")

‚úÖ Dataset exportado como 'retail_sales_cleaned.csv'

In [35]:
# Estat√≠sticas descritivas do dataset final limpo
display(df.describe(include='all'))

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
count,11362,11362,11362,11362,11362.000000,11362.000000,11362.000000,11362,11362,11362,11362
unique,11362,25,8,200,NaN,NaN,NaN,3,2,NaN,2
top,TXN_6867343,CUST_05,Furniture,Item_2_BEV,NaN,NaN,NaN,Cash,Online,NaN,False
freq,1,497,1460,126,NaN,NaN,NaN,3917,5745,NaN,7561
mean,NaN,NaN,NaN,NaN,23.356847,5.535029,129.642537,NaN,NaN,2023-07-12 21:04:20.447104256,NaN
min,NaN,NaN,NaN,NaN,5.000000,1.000000,5.000000,NaN,NaN,2022-01-01 00:00:00,NaN
25%,NaN,NaN,NaN,NaN,14.000000,3.000000,52.000000,NaN,NaN,2022-09-29 00:00:00,NaN
50%,NaN,NaN,NaN,NaN,23.000000,6.000000,108.500000,NaN,NaN,2023-07-13 00:00:00,NaN
75%,NaN,NaN,NaN,NaN,33.500000,8.000000,192.000000,NaN,NaN,2024-04-25 00:00:00,NaN
max,NaN,NaN,NaN,NaN,41.000000,10.000000,410.000000,NaN,NaN,2025-01-18 00:00:00,NaN
std,NaN,NaN,NaN,NaN,10.736030,2.855166,94.662368,NaN,NaN,NaN,NaN